@import "theme1.scss";

.container-1 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: $text;

  & div {
    border: solid;
    margin: 1px;
    width: 100px;
    height: 100px;
  }
}

.base {
  background-color: $base;
}

.important {
  background-color: $important;
}

.warning {
  background-color: $warning;
}

.font-primary{
  font-family:$font-family-primary;
}

.font-secondary{
  font-family:$font-family-secondary;
}

.boxshadow{

  box-shadow: $shadow;
}


