$base: blue;
$text: gray;
$warning: lightblue;

$font-family-primary: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
  monospace !default;
$font-family-secondary: Georgia, "Times New Roman", Times, serif !default;

$shadow: 10px 10px 14px 2px;

$text: black;
