$base: red;
$important: tomato;
$warning: pink;

$font-family-primary: -Apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-secondary: Georgia, "Times New Roman", Times, serif !default;

$shadow: -10px 10px 14px 2px;

$text: black;
