$base: red;
$text: gray;

.container-1 {
  display: flex;
  align-items: center;

}

.container-2 {
    display: flex;
    flex-direction: column;
    gap:2px;
  
  }

.box {
  border: solid;
  margin: 1px;
  width: 100px;
  height: 100px;
}

.base-color {
  background-color: $base;
  color: $text;
}

@for $box from 1 through 4 {
  .darken-#{$box} {
    background-color: darken($base, 10% * $box);
    color: lighten($text, 10% * $box);
  }
}
@for $box from 1 through 4 {
  .lighten-#{$box} {
    background-color: lighten($base, 10% * $box);
    color: darken($text, 10% * $box);
  }
}
